/* ---------- Google Font ---------- */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
}

/* ---------- Variables ---------- */

:root{

    --bg:#0f172a;
    --surface:#1e293b;

    --primary:#38bdf8;

    --text:#f8fafc;

    --secondary:#94a3b8;

    --border:#334155;

}

/* ---------- Body ---------- */

body{

    background:var(--bg);

    color:var(--text);

}

/* ===========================
   NAVBAR
=========================== */

.navbar{

    width:90%;
    max-width:1200px;

    margin:auto;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:25px 0;

}

.logo{

    font-size:28px;

    font-weight:700;

    color:var(--primary);

    cursor:pointer;

}

.nav-links{

    display:flex;

    list-style:none;

    gap:45px;

}

.nav-links a{

    color:var(--text);

    text-decoration:none;

    font-weight:500;

    transition:.3s;

}

.nav-links a:hover{

    color:var(--primary);

}

.btn{

    text-decoration:none;

    background:var(--primary);

    color:white;

    padding:12px 24px;

    border-radius:8px;

    font-weight:600;

    transition:.3s;

}

.btn:hover{

    transform:translateY(-3px);

}

.btn-outline{

    padding:12px 24px;

    border:2px solid var(--primary);

    border-radius:8px;

    color:var(--primary);

    text-decoration:none;

    font-weight:600;

    transition:.3s;

}

.btn-outline:hover{

    background:var(--primary);

    color:white;

}

/* ===========================
   HERO
=========================== */

.hero{

    min-height:90vh;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:0 20px;

}

.hero-content{

    max-width:800px;

}

.greeting{

    color:var(--primary);

    font-size:20px;

    margin-bottom:15px;

}

.hero h1{

    font-size:64px;

    line-height:1.1;

    margin-bottom:20px;

}

.hero h2{

    font-size:28px;

    font-weight:500;

    color:var(--secondary);

    margin-bottom:30px;

    line-height:1.6;

}

.hero-text{

    font-size:18px;

    color:var(--secondary);

    line-height:1.8;

    margin-bottom:40px;

}

.hero-buttons{

    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;

}